body{
    padding: 0;
    margin: 0;
    background-color: #f6f6f6;
    width: 100%;
}

#game{
    width: 100%;
    height: calc(100vh - 35px);
    background-color: #ccc;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}

#intro {
    background-color: #fff;
}

#about_game{
    text-align: center;
    width: 100%;
    padding: 25vh 60px;
    color: #555;
}

#q{
    text-align: center;
    width: 100%;
    padding: 5vh 60px;
    color: #555;
}


#about_me {
    text-align: center;
    width: 100%;
    padding: 25vh 60px;
    color: #555;
}

#pic {
    height: 75vh;
}

#pic div {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(./assets/medicine2.jpg);
}

#my_links {
    padding: 50px;
    height: 150px;
    background-color: #f5f5f5;
    text-align: center;
}

#my_links i {
    margin: 15px;
    font-size: 3em;
    color: #777;
}

#menu{
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;

}

#menu div{
    width: 80px;
    height: 90px;
    position: relative;
}

.menu-btn{
    width: 90px;
    height: 90px;
}

#menu i{
    position: absolute;
    top: -10px;
    right: -10px;
    color: gold;
    font-size: 2em;
}

button.tool-btn {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
}

.tool-btn i {
    width: 15px;
    height: 15px;
    display: block;
}

#story{
    background-color: black;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 99999;
    position: fixed;

    background-repeat: no-repeat;
    background-size: cover;
}

#story-text{
    background-color: white;
    width: 100vw;
    height: 30vh;
    position: absolute;
    bottom: 50px;
    font-size: 1.5em;
    padding: 30px;
}

#avatar{
    width: 30vw;
    height: 30vh;
    position: absolute;
    bottom: 50px;
    right: 0;
    background-size: cover;
}

#stage{
    background-image: url("assets/Screenshot.png");
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.pointer{cursor: pointer;}